/*
	K. DONALDSON LLC
	Keith D. Donaldson
*/

.nav-iOS-style-tab .ui-btn .ui-btn-inner {
    padding-top: 40px !important; 
}

.nav-iOS-style-tab .ui-btn .ui-icon { 
    width: 45px!important; 
    height: 35px!important; 
    margin-left: -24px !important; 
    box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important;
    -webkit-border-radius: none !important;
    border-radius: none !important; 
}

.ui-icon-icon_radio {
	background-image: url("../img/button/microphone.png");
	background-position-x: 50%;
	background-position-y: 50%;
}

.ui-icon-icon_home {
	background-image: url("../img/button/house.png");
    background-repeat: no-repeat;
	background-attachment: initial;
	background-position-x: 50%;
	background-position-y: 50%;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
}

.ui-icon-icon_group {
	background-image: url("../img/button/group.png");
    background-repeat: no-repeat;
	background-attachment: initial;
	background-position-x: 50%;
	background-position-y: 50%;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
}
.ui-icon-icon_news {
	background-image: url("../img/button/newspaper.png");
	background-repeat: no-repeat;
	background-attachment: initial;
	background-position-x: 50%;
	background-position-y: 50%;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
}

.ui-icon-icon_tweets {
	background-image: url("../img/button/twitterbird.png");
    background-repeat: no-repeat;
	background-attachment: initial;
	background-position-x: 50%;
	background-position-y: 50%;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
}

.ui-icon-icon_mail {
	background-image: url("../img/button/envelope.png");
    background-repeat: no-repeat;
	background-attachment: initial;
	background-position-x: 50%;
	background-position-y: 50%;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
}

#tweets .ui-listview li {
	background: #fff;
	color: black;
	font-weight: normal;
	border-top: 1px solid #888;
	text-shadow: none;
}

#tweets .ui-listview a{
	color: #555;
}

#tweets img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 10px 0 0 25px;
}

.center-wrapper{
text-align: center;
}
.center-wrapper * {
margin: 0 auto;
}

#news img {
    width: 6em;
    height: 6em;
    -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
}

#presenters img {
    -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
}



label.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

@media screen and (orientation: portrait){
    label.error { margin-left: 0; display: block; }
}

@media screen and (orientation: landscape){
    label.error { display: inline-block; margin-left: 22%; }
}

em { color: red; font-weight: bold; padding-right: .25em; }
